[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym-tictactoe = "==0.30"
tensorflow = "==2.5.0"

[dev-packages]
jupyterlab = "==3.0.16"

[requires]
python_version = "3.8"
